<md-autocomplete flex required
	ng-if="to.required"
	md-autoselect=true
	md-input-name="{{::id}}"
	md-search-text="model[options.key+'-tmp']"
	md-selected-item="model[options.key]"
	md-items="item in to.querySearch(model[options.key+'-tmp'])"
	md-item-text="item[to.valueattr]"
	md-floating-label="{{to.label}}">
	<md-item-template>
		<span md-highlight-text="model[options.key+'-tmp']" md-highlight-flags="^i">{{item[to.valueattr]}}</span>
	</md-item-template>
	<div ng-messages="form.{{::id}}.$error" role="alert">
      <div ng-message="required">* Required</div>
    </div>
</md-autocomplete>

<md-autocomplete flex
	ng-if="!to.required"
	md-autoselect=true
	md-input-name="{{::id}}"
	md-search-text="model[options.key+'-tmp']"
	md-selected-item="model[options.key]"
	md-items="item in to.querySearch(model[options.key+'-tmp'])"
	md-item-text="item[to.valueattr]"
	md-floating-label="{{to.label}}">
	<md-item-template>
		<span md-highlight-text="model[options.key+'-tmp']" md-highlight-flags="^i">{{item[to.valueattr]}}</span>
	</md-item-template>
</md-autocomplete>