<md-select aria-label="{{to.label}}" ng-model="model[options.key].currencyType">
  <md-option ng-repeat="d in to.data" value="{{d[to.valueProp]}}">{{d[to.labelProp]}}</md-option>
</md-select>

<md-input-container class="currency-container" ng-if="to.required">
	<label>{{to.label}}</label>
	<input required type="{{to.type}}" ng-model="model[options.key].price" name="{{::id}}">
	<div ng-messages="form.{{::id}}.$error" role="alert">
      <div ng-message="required">* Required</div>
    </div>
</md-input-container>

<md-input-container class="currency-container" ng-if="!to.required">
	<label>{{to.label}}</label>
	<input type="{{to.type}}" ng-model="model[options.key].price">
</md-input-container>