<md-input-container ng-if="to.required">
	<md-select required placeholder="{{to.placeholder}}" ng-model="model[options.key]">
		<md-option ng-repeat="d in to.data" value="{{d[to.valueProp]}}">{{d[to.labelProp]}}</md-option>
	</md-select>
	<div ng-messages="form.{{::id}}.$error" role="alert">
		<div ng-message="required">* Required</div>
    </div>
</md-input-container>

<md-input-container ng-if="!to.required">
	<md-select placeholder="{{to.placeholder}}" ng-model="model[options.key]">
		<md-option ng-repeat="d in to.data" value="{{d[to.valueProp]}}">{{d[to.labelProp]}}</md-option>
	</md-select>
</md-input-container>